Resources:
  pageCounterTable:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema:
        HashKeyElement:
          AttributeName: "page_name"
          AttributeType: "S"
      ProvisionedThroughput:
        ReadCapacityUnits: 1
        WriteCapacityUnits: 1

files:
  "/etc/application.properties" :
    content: |
      dynamodb.table=`{"Ref" : "pageCounterTable"}`

